---
title: About
---
<!--snippet found here: http://bootsnipp.com/snippets/6n1ym-->
 <!-- Plans -->
<section id="plans">
    <div class="container">
        <div class="row">

            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-check-square-o"></i>
                        <h3>Requirements</h3>
                    </div>

                    <ul class="list-group text-center">
                        <li class="list-group-item"> Network</li>
                        <li class="list-group-item"> Speed</li>
                        <li class="list-group-item"> SIM</li>
                        <li class="list-group-item"> Modem</li>
                        <li class="list-group-item"> Connection</li>
                        <li class="list-group-item"> Sender ID (Branded SMS)</li>
                        <li class="list-group-item"> Interaction</li>
                        <li class="list-group-item"> Personalize SMS</li>
                        <li class="list-group-item"> Scheduler</li>
                        <li class="list-group-item"> Fee</li>
                        <li class="list-group-item"> Application</li>
                        <li class="list-group-item"> Cost of SMS</li>
                        <li class="list-group-item"> Load Expiry</li>
                        <li class="list-group-item"> UNLITXT Promos</li>
                        <li class="list-group-item"> International SMS</li>
                    </ul>

                </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt"></i>
                        <h3>Busybee PowerBlast</h3>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"> GSM</li>
                        <li class="list-group-item"> 15 – 20 SMS per minute</li>
                        <li class="list-group-item"> SIM needed</li>
                        <li class="list-group-item"> Modem needed</li>
                        <li class="list-group-item"> Offline</li>
                        <li class="list-group-item"> No </li>
                        <li class="list-group-item"> Two-way</li>
                        <li class="list-group-item"> Yes</li>
                        <li class="list-group-item"> Yes</li>
                        <li class="list-group-item"> You pay for the software</li>
                        <li class="list-group-item"> With fee</li>
                        <li class="list-group-item"> Normal cellphone charges apply (SIM)</li>
                        <li class="list-group-item"> Not applicable</li>
                        <li class="list-group-item"> Yes (will depend on the SIM)</li>
                        <li class="list-group-item"> Yes (will depend on the SIM)</li>
                    </ul>

                </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Busybee BrandTxT</h3>
                    </div>

                    <ul class="list-group text-center">
                        <li class="list-group-item"> SMS Gateway</li>
                        <li class="list-group-item"> 1 SMS per second</li>
                        <li class="list-group-item"> No need for SIM</li>
                        <li class="list-group-item"> No need for Modem</li>
                        <li class="list-group-item"> Online</li>
                        <li class="list-group-item"> Yes </li>
                        <li class="list-group-item"> One-way</li>
                        <li class="list-group-item"> Yes</li>
                        <li class="list-group-item"> Yes</li>
                        <li class="list-group-item"> You pay for the SMS</li>
                        <li class="list-group-item"> Free</li>
                        <li class="list-group-item"> PHP 1.00 per SMS ($0.025)</li>
                        <li class="list-group-item"> Without Expiry</li>
                        <li class="list-group-item"> No</li>
                        <li class="list-group-item"> Yes</li>
                    </ul>
                </div>
            </div>
            <!-- /item -->

        </div>
    </div>
</section>
<!-- /Plans -->